[Unit]
Description=Multi-Screen Flask Server
After=network.target

[Service]
Type=simple
User=sirakong
WorkingDirectory=/home/sirakong/Mulitiscreen/backend
Environment=PATH=/home/sirakong/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/sirakong/miniconda3/bin/python3 flask_app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target






